.pageWrapper {
    width: 100%;
    height: calc(100vh - 80px);
    margin: 0%;
    margin-top: 80px;
    padding: 40px;
    background-color: #f9f9f9;
  }
  
  .userinfo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    height: 30%;
    width: 50%;
    margin-left : 22%;
    margin-top : 5%;
    gap : 2%;
  }
  
  .profileImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ddd;
    margin-right: 20px;
  }
  
  .userDetails {
    display: flex;
    flex-direction: column;
  }
  
  .username {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  .editButton {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
  }
  
  .usermeta {
    font-size: 16px;
    color: #666;
    margin-top : 4%;
  }
  
  .navigation {
    display: flex;
    margin-bottom: 20px;
    margin-top : -5%;
  }
  
  .navItem {
    position: relative;
    padding-bottom: 20px; 
    cursor: pointer;
    margin-left : 4%;
  }
  
  .navItem::before {
    content: '';
    display: inline-block;
    width: 16px; 
    height: 16px; 
    margin-right: 5px;
    background-size: cover;
  }
  
  .navItem:nth-child(1)::before {
    background-image: url('../assets/mypagegal.svg');
  }
  
  .navItem:nth-child(2)::before {
    background-image: url('../assets/mypagefav.svg');
  }
  
  .navItem.active::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px; 
    background-color: black; 
    z-index: 100;
  }
  
  .gallery {
    display: flex;
    margin-top : 2%;
    height: 80%;
    width: 100%;
  
  }
  
  .galleryItem {
    margin-top : 5%;
    width: 27%;
    height: 40%;
    border-radius: 8px;
    background-color: #555;
    border: 1px solid black;
    z-index: 2;
  }
  